<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>

<body>
    <h1>Edit Product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <!-- post request but using a method override to turn it into a PUT request  -->
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="product name" value="<%=product.name%>">
        <!-- value attribute allows us to directly change the name of the product when the form is submitted -->
        <label for="price">Price</label>
        <input type="number" name="price" id="price" placeholder="price" value="<%=product.price%>">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <!-- if the product category === X then first value is true (selected) if not second value is true(nothing)  -->
            <% for(let category of categories){ %>
                <option value="<%=category%>" <%=product.category===category ? 'selected' : '' %>>
                    <%=category%>
                </option>
                <% } %>
        </select>
        <button>Submit</button>
    </form>
    <a href="/products/<%=product._id%>">Cancel</a>
</body>

</html>